html,body{
    margin:0px;
    padding:0px;
}
.body{
    display:flex;
}
.header{
    display:flex;
    justify-content: space-around;
    padding : 8px;
    background-color: #1F2937;
    align-items: center;
}
.logo{
    color:#F9FAF8;
    font-size:24px;
}
ul{
    display:flex;
    margin:0px;
    padding:0px;
    gap:10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    font-size:18px;
}
.intro2{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:74px;
}
.intro1{
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
.image{
    background-color: #8c919c;
    font-family: 'Times New Roman', Times, serif;
    color: #E5E7EB;
    font-size:18px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:300px;
    height:150px;
}
.big {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}
.small{
    color: #E5E7EB;
    font-size:18px;
}
button{
    background-color:rgb(79, 79, 194);
    border-color: rgb(79, 79, 194);
    border-radius: 5px;
    padding:5px;
    color:#E5E7EB;
    padding:0 10px;
    font-size: 20px;
}
img{
    border: 3px solid rgb(79,79,194);
    border-radius: 6px;
    height:150px;
    width:150px;
    margin :10px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding  :40px;
    gap:15px;
}
.images{
  display: flex;
  justify-content: center;
  gap : 30px;
}
.image1,.image2,.image3,.image4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
    flex:1;
    
}
.content .title{
    color:#1F2937;
    font-weight: 900;
    font-size: 36px;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding:50px;
}
.quote p{
    width:700px;
}
.author{
    margin:0 650px;
    margin-left:auto;
}
.button{
    display: flex;
    justify-content: space-around;
    width:900px;
    margin:30px auto;
    padding:30px;
    background-color:rgb(79, 79, 194);
    border-radius: 5px;
    color:#E5E7EB;
    
}
.button button{
    border: 2px solid white;
}
.footer{
    display:flex;
    justify-content: center;
    gap:3px;
    padding:5px;
    background-color: #1F2937;
}